@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at top left, #4f29a7, #110a2b);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 .hex-mask {
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
}

.hex-frame {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #f1bf2b, #d4af37, #4e3b03);
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
  z-index: 1;
  filter: drop-shadow(0 0 12px rgba(255, 215, 80, 0.75));
}


.hex-frame:hover {
  filter: drop-shadow(0 0 25px rgba(212, 175, 55, 0.9));
  transition: filter 0.4s ease-in-out;
}
